In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Load Dataset

In [2]:
ctrl = pd.read_csv('new_ctrl.csv').astype(str)
gpt = pd.read_csv('new_gpt.csv').astype(str)
gpt2 = pd.read_csv('new_gpt2.csv').astype(str)
gpt3 = pd.read_csv('new_gpt3.csv').astype(str)
instructgpt = pd.read_csv('new_instructgpt.csv').astype(str)
grover = pd.read_csv('new_grover.csv').astype(str)
xlm = pd.read_csv('new_xlm.csv').astype(str)
xlnet = pd.read_csv('new_xlnet.csv').astype(str)

pplm = pd.read_csv('new_pplm.csv').astype(str)
human = pd.read_csv('new_human.csv').astype(str)
fair = pd.read_csv('new_fair.csv').astype(str)

In [3]:
ctrl.columns

Index(['Unnamed: 0', 'Generation', 'label'], dtype='object')

#Data Preparation

In [4]:
random_binary_t2 = pd.concat([human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), ctrl.sample(1066), 
                              gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), human.sample(1066), 
                              gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), gpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), 
                              gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), 
                              fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), 
                              grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), 
                              human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), human.sample(1066), 
                              ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), 
                          gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), 
                              fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), 
                              grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), gpt3.sample(1066), instructgpt.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), human.sample(1066)])

In [5]:
random_binary_t1 = pd.concat([human,human, human, human, human, human, human, human, human, human, human, ctrl, ctrl, ctrl, ctrl, ctrl, ctrl,
                             ctrl, ctrl, ctrl, ctrl, ctrl, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt2, gpt2, gpt2, gpt2, gpt2, gpt2,
                             gpt2, gpt2, gpt2, gpt2, gpt2, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, gpt3, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, instructgpt, grover, grover, grover, grover, grover, grover, grover, grover, grover, grover, grover, xlm, xlm, 
                             xlm, xlm, xlm, xlm, xlm, xlm, xlm, xlm, xlm, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, 
                             pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, fair, fair, fair, fair, fair, fair, fair, fair, fair, fair, fair])

In [6]:
len(random_binary_t1) == len(random_binary_t2)

True

In [7]:
len(random_binary_t1)

128986

In [8]:
random_binary_t2.head()

     Unnamed: 0                                         Generation  label
307         307  Dunkin' has a plan for better coffee new york ...  human
937         937  Explainers three reasons why the uk might not ...  human
67           67  Explore Chernobyl's exclusion zone in 360Â° ch...  human
775         775  Trump's America: Cartoon views from around the...  human
835         835  News Quiz: Coronavirus, Joe Biden, Oil Prices ...  human

In [9]:
new_label = [np.ones(len(human)), 
             np.zeros(10 * 1066), 
             np.ones(len(ctrl)), 
             np.zeros(13 * 1066), 
             np.ones(len(gpt)), 
             np.zeros(10 * 1066),
             np.ones(len(gpt2)),
             np.zeros(11 * 1066),
             np.ones(len(gpt3)),
             np.zeros(11 * 1066),
             np.ones(len(instructgpt)),
             np.zeros(11 * 1066),
             np.ones(len(grover)),
             np.zeros(11 * 1066),
             np.ones(len(xlm)),
             np.zeros(11 * 1066),
             np.ones(len(xlnet)),
             np.zeros(11 * 1066),
             np.ones(len(pplm)),
             np.zeros(11 * 1066),
             np.ones(len(fair))
            ]

In [10]:
flat_list = [item for sublist in new_label for item in sublist]

In [11]:
len(flat_list)

128986

In [12]:
len(random_binary_t1)

128986

In [13]:
len(random_binary_t2)

128986

In [14]:
binary_random = pd.DataFrame({'T1': list(random_binary_t1['Generation']), 'T2': list(random_binary_t2['Generation']), 'class': flat_list})

In [15]:
binary_random.to_csv('binary_random.csv')

#Create A Balanced Dataset

In [16]:
balance_T1 = pd.concat([human.sample(1066), ctrl.sample(106), pplm.sample(106), gpt.sample(106), gpt2.sample(106), gpt3.sample(107), instructgpt.sample(107), grover.sample(107), 
                     xlm.sample(107), xlnet.sample(107), fair.sample(107), 
                       ctrl.sample(106), pplm.sample(106), gpt.sample(106), gpt2.sample(106), gpt3.sample(107), instructgpt.sample(107), grover.sample(107), 
                     xlm.sample(107), xlnet.sample(107), fair.sample(107), human.sample(1066)])
balance_T2 = pd.concat([human, human, ctrl.sample(106), pplm.sample(106), gpt.sample(106), gpt2.sample(106), gpt3.sample(107), instructgpt.sample(107), grover.sample(107), 
                     xlm.sample(107), xlnet.sample(107), fair.sample(107), 
                       ctrl.sample(106), pplm.sample(106), gpt.sample(106), gpt2.sample(106), gpt3.sample(107), instructgpt.sample(107), grover.sample(107), 
                     xlm.sample(107), xlnet.sample(107), fair.sample(107)])

In [17]:
balance_T2.head()

   Unnamed: 0                                         Generation  label
0           0  Latest Headlines on CNN Business the great shu...  human
1           1  China wants to take a victory lap over its han...  human
2           2  Coronavirus disinformation creates challenges ...  human
3           3  China coronavirus: Eating wild animals made il...  human
4           4  China's economy could shrink for the first tim...  human

In [18]:
balance_label = [np.ones(1066),
                 np.zeros(1066), 
                 np.ones(1066), 
                np.zeros(1066)]

In [19]:
balance_label = [item for sublist in balance_label for item in sublist]

In [20]:
balanced_p1 = pd.DataFrame({'T1': list(balance_T1['Generation']), 'T2': list(balance_T2['Generation']), 'class': balance_label})

In [21]:
balanced_p1.to_csv('balanced_p1.csv')

#LSTM

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(balanced_p1['T1']+ balanced_p1['T2'], balanced_p1['class'], test_size=0.2, random_state=42)

In [ ]:
import numpy as np
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Bidirectional, Embedding, SimpleRNN, Dense, Dropout

# tokenization and padding
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)
X_train_seq = tokenizer.texts_to_sequences(X_train)
X_test_seq = tokenizer.texts_to_sequences(X_test)
max_length = max([len(seq) for seq in X_train_seq])
max_length = max([len(seq) for seq in X_test_seq])
X_train_padded = pad_sequences(X_train_seq, maxlen=max_length, padding='post')
X_test_padded = pad_sequences(X_test_seq, maxlen=max_length, padding='post')

# LSTM model
model = Sequential()
model.add(Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=32, input_length=max_length))
model.add(SimpleRNN(64, return_sequences=True))
model.add(Dropout(0.2))
model.add(SimpleRNN(32))
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(Dense(2, activation='sigmoid'))
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.summary()

# train the model
model.fit(X_train_padded, y_train, epochs=10, batch_size=32)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 14105, 32)         1732160

 simple_rnn (SimpleRNN)      (None, 14105, 128)        20608

 dropout (Dropout)           (None, 14105, 128)        0

 simple_rnn_1 (SimpleRNN)    (None, 64)                12352

 dropout_1 (Dropout)         (None, 64)                0

 dense (Dense)               (None, 32)                2080

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 1,767,233
Trainable params: 1,767,233
Non-trainable params: 0
_________________________________________________________________
 9/86 [==>...........................] - ETA: 59:14 - loss: 0.7001 - accuracy: 0.4792

In [ ]:
tokenizer.fit_on_texts(X_test)
loss, acc = model.evaluate(X_test_padded, y_test)

In [ ]:
preds = model.predict(X_test_padded)

In [ ]:
preds_new = []
for i in preds:
  if(i[0]>i[1]):
    preds_new.append(0.0)
  else:
    preds_new.append(1.0)

In [ ]:
y_test_array = np.array(y_test)
y_test_array[1]

In [ ]:
from sklearn.metrics import f1_score,precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, preds_new)
print("F1 score = ",f1)
precision = precision_score(y_test, preds_new)
recall = recall_score(y_test, preds_new)
print("Precision = ", precision)
print("Recall = ", recall)
print("Accuracy = ", accuracy_score(y_test, preds_new))